*{
  margin: 0;
  padding: 0;
}

.banner{
  background: url("Images/banner-bg.png");
  width: 100%;
  background-size: cover;
}

.Nav-Bar{
  background-color: #000;
  display: flex;
  width: 100%;
  height: auto;
  z-index: 2;
}

.Title{
  color: #fff;
  flex: 1;
  font-size: 40px;
  padding: 18px;
  text-transform: uppercase;
}
.menu{
  flex: 3px;
}
.menu ul{
  display: flex;
  margin-top: 30px;
  flex-flow: row wrap;
}
.menu ul li{
  flex: 1;
  text-align: center;
}
.menu ul li a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

/*banner*/

.banner-text{
  display:flex;
  padding: 10% 0;
}

.banner-text-items{
  color: black;
  margin-left: 10px;
  margin: auto auto auto 15px;
  text-align: left;
  width: 50%;
}

.banner-text-items h2{
  font-size: 3em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.banner-text-items p{
  font-size: 18px;
}

/*main content*/

.main-content{
  display: flex;
  flex-flow: row wrap;
  padding: 5% 0;
}


.main1{
  flex: 1;
  padding-left: 3%;
  text-align: center;
}

/* contact */



.contact-items{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact{
    background: url(Images/footer-bg.jpg);
    padding: 80px 0;
    position: relative;
    z-index: 1;
}


.contact:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.contact-items h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 18px;
}

.contact-items input[type="text" ]{
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 50%;
}

.contact-items input[type="email" ]{
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 50%;
}

.contact-items textarea{
  border-radius: 10px;
  height: 150px;
  padding: 15px;
  width: 50%;
}

.contact-items a{
  background: #da4b29;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px 80px;
  text-decoration: none;
  text-transform: uppercase;
}

/*phone*/
@media all and (max-width: 500px){
  .Nav-Bar{
    flex-direction: column;
    text-align: center;
  }
  .Title{
    padding: 18px 0 0;
  }
  .menu ul{
    flex-direction: column;
    margin-top: 0;
  }
  .menu ul li{
    padding: 5px;
  }
  .banner-text-items{
    width: 100%;
  }
  .banner-text-items h2{
    font-size: 2.5em;
  }
  .main-content{
    flex-direction: column;
  }
}

/*Ipad*/
@media all and (max-width: 800px){
  .Nav-Bar{
    flex-direction: column;
    text-align: center;
  }
  .Title{
    padding: 18px 0 0;
  }
  .menu ul{
    flex-direction: column;
    margin-top: 0;
  }
  .menu ul li{
    padding: 5px;
  }
  .banner-text-items{
    width: 100%;
  }
  .banner-text-items h2{
    font-size: 1.5em;
  }
  .main-content{
    flex-direction: column;
  }
}
